<div class="container">
  <h1 class="text-center mt-3">Pipes <small>Angular</small></h1>
  <hr>
  <div class="row border text-center">
    <div class="col-md-4 border-right border-bottom bg-dark text-white p-3">Variable</div>
    <div class="col-md-4 border-right border-bottom bg-dark text-white p-3">Pipe</div>
    <div class="col-md-4 border-bottom bg-dark text-white p-3">Salida</div>
    <div class="col-md-4 border-right border-bottom">{{ nombre }}</div>
    <div class="col-md-4 border-right border-bottom">capitalizado</div>
    <div class="col-md-4 border-bottom">{{ nombre | capitalizado:true }}</div>
    <div class="col-md-4 border-right border-bottom">{{ nombre }}</div>
    <div class="col-md-4 border-right border-bottom">uppercase</div>
    <div class="col-md-4 border-bottom">{{ nombre | uppercase }}</div>
    <div class="col-md-4 border-right border-bottom">{{ nombre }}</div>
    <div class="col-md-4 border-right border-bottom">lowercase</div>
    <div class="col-md-4 border-bottom">{{ nombre | lowercase }}</div>
    <div class="col-md-4 border-right border-bottom">{{ nombre }}</div>
    <div class="col-md-4 border-right border-bottom">slice:3</div>
    <div class="col-md-4 border-bottom">{{ nombre | slice:3 }}</div>
    <div class="col-md-4 border-right border-bottom">{{ nombre }}</div>
    <div class="col-md-4 border-right border-bottom">slice:0:3</div>
    <div class="col-md-4 border-bottom">{{ nombre | slice:0:3 }}</div>
    <div class="col-md-4 border-right border-bottom">{{ arreglo }}</div>
    <div class="col-md-4 border-right border-bottom">slice:1:5</div>
    <div class="col-md-4 border-bottom">{{ arreglo | slice:1:5 }}</div>
    <div class="col-md-4 border-right border-bottom">{{ PI }}</div>
    <div class="col-md-4 border-right border-bottom">number</div>
    <div class="col-md-4 border-bottom">{{ PI | number:'3.0-0' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ PI }}</div>
    <div class="col-md-4 border-right border-bottom">number:'.0-2'</div>
    <div class="col-md-4 border-bottom">{{ PI | number:'.0-2' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ porcentaje }}</div>
    <div class="col-md-4 border-right border-bottom">percent</div>
    <div class="col-md-4 border-bottom">{{ porcentaje | percent }}</div>
    <div class="col-md-4 border-right border-bottom">{{ porcentaje }}</div>
    <div class="col-md-4 border-right border-bottom">percent:'2.2-2'</div>
    <div class="col-md-4 border-bottom">{{ porcentaje | percent:'2.2-2' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ salario }}</div>
    <div class="col-md-4 border-right border-bottom">currency</div>
    <div class="col-md-4 border-bottom">{{ salario | currency }}</div>
    <div class="col-md-4 border-right border-bottom">{{ salario }}</div>
    <div class="col-md-4 border-right border-bottom">currency:'EUR'</div>
    <div class="col-md-4 border-bottom">{{ salario | currency:'EUR' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ salario }}</div>
    <div class="col-md-4 border-right border-bottom">currency:'CAD':'symbol-narrow':'.0-0'</div>
    <div class="col-md-4 border-bottom">{{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ valorPromesa }}</div>
    <div class="col-md-4 border-right border-bottom">async</div>
    <div class="col-md-4 border-bottom">{{ valorPromesa | async }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date</div>
    <div class="col-md-4 border-bottom">{{ fecha | date }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date:'medium'</div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'medium' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date:'short'</div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'short' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date:'MMMM-dd'</div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'MMMM-dd' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date:'MMMM-dd':'':'en'</div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'MMMM-dd':'':'en' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">date:'MMMM-dd':'':'fr'</div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'MMMM-dd':'':'fr' }}</div>
    <div class="col-md-4 border-right border-bottom">{{ fecha }}</div>
    <div class="col-md-4 border-right border-bottom">
      <div class="row">
        <div class="col-md-12">
          date:'MMMM-dd':'':'{{ idioma }}'
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="idioma='es'">Español</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info" (click)="idioma='en'">Inglés</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success" (click)="idioma='fr'">Francés</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 border-bottom">{{ fecha | date:'MMMM-dd':'':idioma }}</div>
  </div>
  <div class="row mt-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
    </ul>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h3 class="text-center">JSON</h3>
    </div>
    <div class="col-md-12">
      <pre>
        {{ heroe | json }}
      </pre>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h3 class="text-center">DOM seguro</h3>
    </div>
    <div class="col-md-12">
      <iframe width="560" height="315" [src]="video | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
